- if user_signed_in?
  .row
    %aside.col-md-4
      %section.trend
        Trend
      %section.feed_ranking
        FeedRanking
      %section.TagRanking
        TagRanking
      %section.stats
        = render 'shared/stats'
    .col-md-8
      = render template: 'items/index'
- else
  .row
    .card.text-white.bg-success.mb-3{ style: {max:{width: "18rem"}}}
      .card-header
        %h5.card-title Hello hackers !
      .card-body
        %p.card-text Q3は、エンジニアリングに関する知識を記録・共有するためのサービスです。コードを書いていて気づいたことや、自分がハマったあの仕様について、他のエンジニアと知見を共有しましょう ;)
  .row
    = link_to '参加ユーザー', users_path, class: "btn btn-outline-success"
